/* #region Utility */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ds-dark: #22272b;
  --ds-primary: #8ea0e0;
  --ds-light: #f7f7f6;
  --ds-lighter: white;
}

.container {
  width: 70%;
  max-width: 1140px;
  margin: auto;
}

.d-flex {
  display: flex;
}

.logo, .login {
  flex-grow: 1;
}

.main-menu {
  flex-grow: 4;
  text-align: center;
}

.login {
  text-align: end;
}

ul.listline {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.main-menu a {
  color: white;
}

.btn {
  border-radius: 2rem;
  display: inline-block;
  /* <a> ancor tag: quando deve assomigliare a un button sempre INLINE-BLOCK! */
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  background-color: var(--ds-light);
  color: var(--ds-dark)
}

.btn-lg
{
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}

.btn-light
{
  background-color: var(--ds-light);
  color: var(--ds-dark)
}

.btn-dark
{
  background-color: var(--ds-dark);
  color: var(--ds-lighter)
}

.btn-primary
{
  background-color: var(--ds-primary);
  color: var(--ds-lighter);
}

.textcenter{
  text-align: center;
}

/* #endregion Utility */

/* #region dbg */

.dbg>header {
  background-color: aquamarine;
}

.dbg .jumbotron {
  background-color: blue;
}

.dbg .jumbo_text {
  height: 100%;
  min-width: 60%;
  background-color: green;
}

.dbg .section_image {
  height: 350px;
  background-color: pink;
}

.dbg .section_text {
  height: 350px;
  background-color: dodgerblue;
}

.dbg #reliable .container {
  height: 500px;
  background-color: green;
}

.dbg #app-footer {
  height: 500px;
  background-color: #333;
}

.dbg .item40 {
  background-color: blueviolet;
  height: 400px;
}

.dbg .item20 {
  background-color: aquamarine;
  border: 1px dashed red;
}

/* #endregion dbg */

/* #region header */
#app_header {
  background-image: url('../img/jumbo.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 450px;
  padding: 1rem 0;
}

.jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbo_text {
  width: 60%;
  max-width: 840px;
  margin: auto;
}

.jumbotron h1
{
  font-size: 4rem;
  margin-bottom: 2rem;
  color: var(--ds-lighter);

}

.jumbotron p
{
  color: var(--ds-lighter);
}


/* #endregion header */

/* #region main */



.section_image {
  width: 60%;
}

.section_text {
  width: 40%;
}

#easymeeting {
  background-color: gainsboro;
}

/* #endregion main */

/* #region footer */
.item40 {
  width: 40%;
}

.item20 {
  width: calc(100% / 4);
}

.bottom {
  border-top: 1px solid black;
  justify-content: space-between;
}

/* #endregion footer */